<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
 		http://www.springframework.org/schema/mvc/spring-mvc.xsd
 		http://www.springframework.org/schema/context
 		http://www.springframework.org/schema/context/spring-context.xsd">
        
    <!-- 配置SpringMVC -->
    
    <!-- 1.开启SpringMVC注解模式 -->
    <!-- 简化配置：
    	（1）自动注册DefaultAnnotationHandlerMapping, AnnotationMethodHandlerAdapter
    	（2）提供一系列：数据绑定，数字和日期的format @NumberFormat, @DataTimeFormat, xml, json默认读写支持。
     -->
    <mvc:annotation-driven/>
    
    <!-- 2.静态资源默认servlet配置 -->
    <mvc:default-servlet-handler/>
    
    <!-- 3.配置ViewResolver（视图解析器） -->
	
	<!-- <context:property-placeholder location="classpath:freemarker.properties"/> -->
	<!-- 配置freeMarker的模板路径 -->
	<bean class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
		<!--property name="freemarkerSettings" ref="freemarkerConfiguration"/-->
		<property name="templateLoaderPath" value="/WEB-INF/ftl/"/>
		<property name="defaultEncoding" value="UTF-8"/>
		<property name="freemarkerSettings">  
            <props>  
                <prop key="template_update_delay">10</prop>  
                <prop key="locale">zh_CN</prop>  
                <prop key="datetime_format">yyyy-MM-dd</prop>  
                <prop key="date_format">yyyy-MM-dd</prop>  
                <prop key="number_format">#.##</prop>  
                <!-- 自动导入的模板 -->  
                <!-- <prop key="auto_include">head.ftl</prop>  --> 
            </props>  
        </property> 
	</bean>
	<!-- 配置freeMarker视图解析器 -->
	<bean class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.freemarker.FreeMarkerView" />
	    <property name="contentType" value="text/html; charset=utf-8"/>
	    <property name="cache" value="true" />
	    <property name="suffix" value=".ftl" />
	    <!-- <property name="order" value="2"/>  -->
	</bean>
	
	<!-- 4.扫描web相关的bean -->
	<context:component-scan base-package="org.hostel.web"/>
</beans>